body{
    margin: 0;
}
.teste{
    text-align: center;
    height: 100%;   
}

ul{
    text-align: center;
}

/* responsive */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}

/* aparencia de texto */
.text{
    font-family: sans-serif;
    font-size: 5vh;
    color: white;
}
/* camadas da pagina */
.top{
    background-color: black;
    text-align: center;
    justify-content: center;
    width: 100vw;
}

.chatbox{
    height: 55vh;
    overflow-x: auto;
}

.chat{
    border-color: lightskyblue;
    background-color: lightskyblue;
    border-radius: 1vw;
    padding: 1vw;
}

#infos{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
}

.textinput{
    align-items: baseline;
    
}

.textinput input{
    border-radius: 10%;
    width: 25vw;
    border-color: black;
    height: 3vh;

}

.textinput button{
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    margin-left: 10px;
    border-color: rgb(58, 169, 238);
    background-color: lightskyblue;

}